////reset css ////
html,
body,
div,
span,
p,
ul,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

//////////reset 結束 ////
body {
  width: 100%;
  background: url(../images/dot-bg-2.png) repeat-x top center;
  background-color: #222222;
  background-size: contain;
}

.collectPageContain {
  width: 750px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.logoWrap {
  display: flex;
  margin-top: 26px;
  margin-bottom: 63px;
  align-items: center;
  justify-content: space-between;

  .topLogo {
    margin-left: 23px;

    width: 304px;
    height: 81px;
  }

  .topTag {
    width: 140px;
    height: 58px;
  }
}

.smallTitle {
  margin-left: 36px;
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 500;

  img {
    width: 55px;
    margin-right: 15px;
  }

  p {
    color: #fdd543;
  }
}

.cooperationWrap {
  line-height: 1.5;

  .news {
    margin-left: 45px;
    li {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.9;
      text-align: justify;
      color: #fdd542;
    }

    li:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: #fdd542;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  .cooperationText {
    margin-left: 45px;
    margin-bottom: 50px;
  }
}

.linkWrap {
  line-height: 1.5;

  .myName {
    display: flex;
    margin-top: 50px;
  }

  .siteName {
    color: #fdd543;
  }

  .linkTextWrap {
    margin-top: 35px;
    margin-left: 45px;
  }
}

.footerWrap {
  margin-top: 50px;
  width: 100%;
  height: 150px;
  background: url(../images/dot_bg1.png) repeat-x top center;
  background-color: #222222;
  background-size: contain;
}

/////////////RWD////////////////////
@function vw($px) {
  @return ($px / 750) * 100vw;
}

// width: vw(750);

@media (max-width:768px) {

  .collectPageContain {
    width: vw(750);
    font-size: vw(20);
  }

  .logoWrap {
    margin-top: vw(26);
    margin-bottom: vw(63);
    .topLogo {
      margin-left: vw(23);
      width: vw(304);
      height: vw(81);
    }

    .topTag {
      width: vw(140);
      height: vw(58);
    }
  }

  .smallTitle {
    margin-left: vw(36);
    font-size: vw(35);
    img {
      width: vw(55);
      margin-right: vw(15);
    }
  }

  .cooperationWrap {
    .news {
      margin-left: vw(45);
      li {
        font-size: vw(20);
      }

      li:before {
        width: vw(15);
        height: vw(15);
      }
    }

    .cooperationText {
      margin-left: vw(45);
      margin-bottom: vw(50);
    }
  }

  .linkWrap {
    .myName {
      margin-top: vw(50);
    }

    .linkTextWrap {
      margin-top: vw(35);
      margin-left: vw(45);
    }
  }

  .footerWrap {
    margin-top: vw(50);
    height: vw(150);
  }
}