html,
body,
div,
span,
p,
ul,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

body {
  width: 100%;
  background: url(../images/dot-bg-2.png) repeat-x top center;
  background-color: #222222;
  background-size: contain;
}

.collectPageContain {
  width: 750px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.logoWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  margin-bottom: 63px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logoWrap .topLogo {
  margin-left: 23px;
  width: 304px;
  height: 81px;
}

.logoWrap .topTag {
  width: 140px;
  height: 58px;
}

.smallTitle {
  margin-left: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  font-weight: 500;
}

.smallTitle img {
  width: 55px;
  margin-right: 15px;
}

.smallTitle p {
  color: #fdd543;
}

.cooperationWrap {
  line-height: 1.5;
}

.cooperationWrap .news {
  margin-left: 45px;
}

.cooperationWrap .news li {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.9;
  text-align: justify;
  color: #fdd542;
}

.cooperationWrap .news li:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fdd542;
  border-radius: 50%;
  margin-right: 5px;
}

.cooperationWrap .cooperationText {
  margin-left: 45px;
  margin-bottom: 50px;
}

.linkWrap {
  line-height: 1.5;
}

.linkWrap .myName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.linkWrap .siteName {
  color: #fdd543;
}

.linkWrap .linkTextWrap {
  margin-top: 35px;
  margin-left: 45px;
}

.footerWrap {
  margin-top: 50px;
  width: 100%;
  height: 150px;
  background: url(../images/dot_bg1.png) repeat-x top center;
  background-color: #222222;
  background-size: contain;
}

@media (max-width: 768px) {
  .collectPageContain {
    width: 100vw;
    font-size: 2.66667vw;
  }
  .logoWrap {
    margin-top: 3.46667vw;
    margin-bottom: 8.4vw;
  }
  .logoWrap .topLogo {
    margin-left: 3.06667vw;
    width: 40.53333vw;
    height: 10.8vw;
  }
  .logoWrap .topTag {
    width: 18.66667vw;
    height: 7.73333vw;
  }
  .smallTitle {
    margin-left: 4.8vw;
    font-size: 4.66667vw;
  }
  .smallTitle img {
    width: 7.33333vw;
    margin-right: 2vw;
  }
  .cooperationWrap .news {
    margin-left: 6vw;
  }
  .cooperationWrap .news li {
    font-size: 2.66667vw;
  }
  .cooperationWrap .news li:before {
    width: 2vw;
    height: 2vw;
  }
  .cooperationWrap .cooperationText {
    margin-left: 6vw;
    margin-bottom: 6.66667vw;
  }
  .linkWrap .myName {
    margin-top: 6.66667vw;
  }
  .linkWrap .linkTextWrap {
    margin-top: 4.66667vw;
    margin-left: 6vw;
  }
  .footerWrap {
    margin-top: 6.66667vw;
    height: 20vw;
  }
}
/*# sourceMappingURL=collect.css.map */