html,
body,
div,
span,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

.clearFloat {
  clear: both;
}

.popup {
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
  width: 319px;
  position: fixed;
  top: 40%;
  line-height: 1.8;
  font-size: 25px;
  color: #fff;
  border-radius: 10px;
  padding: 25px 35px;
}

.fixWrap {
  position: fixed;
  top: 600px;
  right: 10px;
  z-index: 1;
}

.fixWrap .timeBackground {
  width: 122px;
  height: 72px;
  background: url(../images/chat_box.png) no-repeat;
  text-align: center;
  background-size: contain;
}

.fixWrap .timeBackground p {
  padding-top: 16px;
  font-size: 25px;
  font-weight: 600;
}

.fixWrap .fixContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fixWrap .chickenClock {
  width: 124px;
  height: 78px;
}

.fixWrap .APPWrap {
  width: 114px;
  height: 138px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2cd48), color-stop(99%, #ff7566));
  background-image: linear-gradient(to bottom, #f2cd48, #ff7566 99%);
  text-align: center;
}

.fixWrap .APPWrap img {
  margin: 15px 0 7px;
  width: 84px;
  height: 84px;
  border-radius: 10px;
}

.fixWrap .APPWrap p {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}

body {
  width: 100%;
  background: url(../images/top-dotted-bg.png) no-repeat top center;
  background-color: #222222;
  background-size: contain;
}

.container {
  width: 750px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container p {
  color: #ffffff;
}

.headerWrap {
  padding-top: 40px;
}

.headerWrap .logoWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.headerWrap .topLogo {
  width: 425px;
  height: 110px;
  text-align: center;
}

.headerWrap .topTag {
  width: 140px;
  height: 58px;
  position: absolute;
  right: 0;
}

.headerWrap .copyWrap {
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 28px;
  margin-bottom: 14px;
  background: url(../images/copy_website.png) no-repeat center;
  background-size: contain;
}

.headerWrap .copyWrap p {
  font-size: 16px;
  font-weight: 600;
  color: #ffe06e;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.bannerWrap {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.bannerWrap .bannerImg {
  width: 710px;
  height: 335px;
  border-radius: 30px;
}

.bannerWrap .downloadBtn {
  width: 180px;
  height: 56px;
  position: absolute;
  right: 40px;
  bottom: -20px;
}

.smallTitle {
  margin-left: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  font-weight: 500;
}

.smallTitle img {
  width: 55px;
  margin-right: 15px;
}

.smallTitle p {
  color: #fdd543;
}

.hotSearchWrap .hotAPPWrap .hotTopAPPWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotSearchWrap .hotAPPWrap .top {
  width: 240px;
  height: 275px;
  position: relative;
}

.hotSearchWrap .hotAPPWrap .top1 {
  background: url(../images/top1_egg.png) no-repeat;
  background-size: contain;
}

.hotSearchWrap .hotAPPWrap .top2 {
  background: url(../images/top2_egg.png) no-repeat;
  background-size: contain;
}

.hotSearchWrap .hotAPPWrap .top3 {
  background: url(../images/top3_egg.png) no-repeat;
  background-size: contain;
}

.hotSearchWrap .hotAPPWrap .hotContain {
  width: 210px;
  height: 250px;
  padding-left: 29px;
  padding-top: 24px;
  text-align: center;
}

.hotSearchWrap .hotAPPWrap .hotContain img {
  width: 110px;
  height: 110px;
  margin-top: 35px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.hotSearchWrap .hotAPPWrap .hotContain .hotTitle {
  line-height: 44px;
  font-size: 30px;
  font-weight: 600;
}

.hotSearchWrap .hotAPPWrap .hotContain .hotText {
  font-size: 20px;
  color: #bdbdbd;
}

.hotSearchWrap .hotAPPWrap .hotAPPWrap {
  padding: 25px 0 0 35px;
}

.hotSearchWrap .hotAPPWrap .hotAPPWrap .APPWrap {
  float: left;
  width: 150px;
  height: 146px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 3px 0 #000000;
          box-shadow: 3px 3px 3px 0 #000000;
  background-image: linear-gradient(164deg, #272727 12%, #484848 88%);
  text-align: center;
  margin-bottom: 25px;
  margin-right: 25px;
}

.hotSearchWrap .hotAPPWrap .hotAPPWrap .APPWrap img {
  width: 71px;
  margin: 18px 0 13px;
  border-radius: 10px;
}

.hotSearchWrap .hotAPPWrap .hotAPPWrap .APPWrap p {
  font-size: 20px;
  font-weight: 600;
}

.hotSearchWrap .hotAPPWrap .hotAPPWrap .smallAPPWrap div:last-of-type {
  margin-bottom: 50px;
}

.containBackground {
  background: url(../images/gray_bg2.png) no-repeat top center;
  background-size: contain;
}

.choiceAPPWrap {
  padding-top: 45px;
  padding-left: 35px;
  margin-top: 15px;
  margin-bottom: 50px;
}

.choiceAPPWrap .mainAPPWrap {
  width: 680px;
  height: 180px;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: solid 4px #ffe300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  position: relative;
}

.choiceAPPWrap .mainAPPWrap .APPImg {
  border-radius: 10px;
  margin: 0 30px 0 45px;
  width: 100px;
  height: 100px;
}

.choiceAPPWrap .mainAPPWrap .APPTitle {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 11px;
}

.choiceAPPWrap .mainAPPWrap .APPText {
  font-size: 25px;
  font-weight: normal;
  color: #979797;
}

.choiceAPPWrap .mainAPPWrap .downloadWrap {
  width: 184px;
  height: 75px;
  border-radius: 37.5px;
  border: solid 3px #ffe300;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 20px;
}

.choiceAPPWrap .mainAPPWrap .downloadWrap img {
  margin: 0 10px 0 25px;
  width: 18px;
  height: 22px;
}

.choiceAPPWrap .mainAPPWrap .downloadWrap p {
  font-size: 25px;
  color: #fdd644;
}

.choiceAPPWrap .mainAPPWrap:nth-child(1) {
  margin-top: 16px;
}

.choiceAPPWrap .APPWrap {
  float: left;
  width: 210px;
  height: 85px;
  border-radius: 10px;
  background-color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  margin-top: 30px;
}

.choiceAPPWrap .APPWrap img {
  width: 85px;
  height: 85px;
  border-radius: 10px;
}

.choiceAPPWrap .APPWrap p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-left: 20px;
}

.hotUseWrap {
  padding-top: 45px;
}

.hotUseWrap a {
  color: #000;
}

.hotUseWrap .smallTitle {
  position: relative;
  margin-bottom: 30px;
}

.hotUseWrap .smallTitle a {
  position: absolute;
  right: 45px;
  width: 134px;
  height: 52px;
  border-radius: 5px;
  border: solid 3px #ffe300;
  background-color: #000000;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #ffe300;
  line-height: 52px;
}

.hotUseWrap .grayLine {
  width: 660px;
  height: 1px;
  background-color: #979797;
  margin: 20px auto;
}

.hotUseWrap .APPWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hotUseWrap .APPWrap img {
  width: 120px;
  height: 120px;
  margin-left: 45px;
  margin-right: 45px;
  border-radius: 10px;
}

.hotUseWrap .APPWrap .APPTitle {
  font-size: 35px;
  font-weight: 500;
  color: #fdd542;
  margin-bottom: 11px;
}

.hotUseWrap .APPWrap .APPText {
  font-size: 25px;
  color: #979797;
}

.hotUseWrap .APPWrap .downloadBtn {
  width: 102px;
  height: 65px;
  border-radius: 10px;
  background-color: #ffe300;
  font-size: 25px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 45px;
}

.GtagWrap {
  margin-top: 50px;
  padding-top: 45px;
}

.GtagWrap .APPGroupWrap {
  margin-left: 35px;
  margin-top: 30px;
}

.GtagWrap .APPWrap {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 210px;
  height: 85px;
  border-radius: 5px;
  background-color: #6f6f6f;
  margin-right: 25px;
  margin-bottom: 20px;
}

.GtagWrap .APPWrap img {
  width: 55px;
  height: 55px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.GtagWrap .APPWrap p {
  font-size: 19px;
  font-weight: 600;
  line-height: 26px;
}

.bestSiteWrap .smallTitle {
  margin-top: 15px;
  margin-bottom: 25px;
}

.bestSiteWrap .siteGroupWrap {
  margin-left: 35px;
}

.bestSiteWrap .siteWrap {
  float: left;
  width: 210px;
  height: 70px;
  border-radius: 5px;
  border: solid 3px #362f20;
  background-color: #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-weight: 500;
  margin-right: 22px;
  margin-bottom: 30px;
}

.bestSiteWrap .siteWrap p {
  color: #fdd542;
}

.bestSiteWrap .siteWrap:nth-child(3n) {
  margin-right: 0;
}

.backTopWrap {
  margin-top: 15px;
  height: 154px;
  text-align: center;
  background: url(../images/dot_bg1.png) repeat-x;
  padding-bottom: 13px;
  background-size: cover;
}

.backTopWrap img {
  width: 96px;
  height: 126px;
}

.backTopWrap p {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
}

.footerWrap {
  background-color: #000000;
}

.footerWrap .footerContain {
  margin: 0 auto;
  width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 44px 26px 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footerWrap .footerContain img {
  width: 120px;
  height: 109px;
  margin-right: 21px;
}

.footerWrap .footerContain p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
  color: #bdbebe;
}

@media (max-width: 768px) {
  body {
    width: 100%;
    background: url(../images/375bg.png) no-repeat top center;
    background-color: #222222;
    background-size: contain;
  }
  .popup {
    background: rgba(0, 0, 0, 0.7);
    width: 42.53333vw;
    font-size: 3.33333vw;
    color: #fff;
    border-radius: 1.33333vw;
    padding: 3.33333vw 4.66667vw;
  }
  .fixWrap {
    top: 80vw;
    right: 1.33333vw;
  }
  .fixWrap .timeBackground {
    width: 16.26667vw;
    height: 9.6vw;
  }
  .fixWrap .timeBackground p {
    padding-top: 2.13333vw;
    font-size: 3.33333vw;
  }
  .fixWrap .chickenClock {
    width: 16.53333vw;
    height: 10.4vw;
  }
  .fixWrap .APPWrap {
    width: 19.2vw;
    height: 18.4vw;
    border-radius: 0.66667vw;
  }
  .fixWrap .APPWrap img {
    margin: 2vw 0 0.93333vw;
    width: 11.2vw;
    height: 11.2vw;
    border-radius: 1.33333vw;
  }
  .fixWrap .APPWrap p {
    font-size: 3.2vw;
    margin-bottom: 1.33333vw;
  }
  .container {
    width: 100vw;
  }
  .headerWrap {
    padding-top: 5.33333vw;
  }
  .headerWrap .topLogo {
    width: 56.53333vw;
    height: 14.66667vw;
  }
  .headerWrap .topTag {
    width: 18.66667vw;
    height: 7.73333vw;
  }
  .headerWrap .copyWrap {
    height: 7.06667vw;
    margin-top: 3.73333vw;
    margin-bottom: 1.86667vw;
  }
  .headerWrap .copyWrap p {
    font-size: 2.13333vw;
    margin-left: 2.66667vw;
    margin-top: 1.33333vw;
  }
  .bannerWrap {
    margin-bottom: 4vw;
  }
  .bannerWrap .bannerImg {
    width: 94.66667vw;
    height: 44.66667vw;
    border-radius: 4vw;
  }
  .bannerWrap .downloadBtn {
    width: 24vw;
    height: 7.46667vw;
    right: 5.33333vw;
    bottom: -2.66667vw;
  }
  .smallTitle {
    margin-left: 4.8vw;
    font-size: 4.66667vw;
  }
  .smallTitle img {
    width: 7.33333vw;
    margin-right: 2vw;
  }
  .hotSearchWrap .hotAPPWrap .top {
    width: 32vw;
    height: 36.66667vw;
  }
  .hotSearchWrap .hotAPPWrap .hotContain {
    width: 28vw;
    height: 33.33333vw;
    padding-left: 3.86667vw;
    padding-top: 3.2vw;
  }
  .hotSearchWrap .hotAPPWrap .hotContain img {
    width: 14.66667vw;
    height: 14.66667vw;
    margin-top: 4.66667vw;
    margin-bottom: 1.33333vw;
    border-radius: 1.33333vw;
  }
  .hotSearchWrap .hotAPPWrap .hotContain .hotTitle {
    line-height: 5.86667vw;
    font-size: 4vw;
  }
  .hotSearchWrap .hotAPPWrap .hotContain .hotText {
    font-size: 2.66667vw;
  }
  .hotSearchWrap .hotAPPWrap .hotAPPWrap {
    padding: 3.33333vw 0 0 4.66667vw;
  }
  .hotSearchWrap .hotAPPWrap .hotAPPWrap .APPWrap {
    width: 20vw;
    height: 19.46667vw;
    border-radius: 2.66667vw;
    -webkit-box-shadow: 0.4vw 0.4vw 0.4vw 0 #000000;
            box-shadow: 0.4vw 0.4vw 0.4vw 0 #000000;
    margin-bottom: 3.33333vw;
    margin-right: 3.33333vw;
  }
  .hotSearchWrap .hotAPPWrap .hotAPPWrap .APPWrap img {
    width: 9.46667vw;
    margin: 2.4vw 0 1.73333vw;
    border-radius: 1.33333vw;
  }
  .hotSearchWrap .hotAPPWrap .hotAPPWrap .APPWrap p {
    font-size: 3.46667vw;
  }
  .hotSearchWrap .hotAPPWrap .hotAPPWrap .smallAPPWrap div:last-of-type {
    margin-bottom: 6.66667vw;
  }
  .choiceAPPWrap {
    padding-top: 6vw;
    padding-left: 4.66667vw;
    margin-top: 2vw;
    margin-bottom: 6.66667vw;
  }
  .choiceAPPWrap .mainAPPWrap {
    width: 90.66667vw;
    height: 24vw;
    border-radius: 2vw;
    -webkit-box-shadow: 0 0.26667vw 0.66667vw 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.26667vw 0.66667vw 0 rgba(0, 0, 0, 0.1);
    border: solid 0.53333vw #ffe300;
    margin-top: 5.33333vw;
  }
  .choiceAPPWrap .mainAPPWrap .APPImg {
    border-radius: 1.33333vw;
    margin: 0 4vw 0 6vw;
    width: 13.33333vw;
    height: 13.33333vw;
  }
  .choiceAPPWrap .mainAPPWrap .APPTitle {
    font-size: 4.66667vw;
    margin-bottom: 1.46667vw;
  }
  .choiceAPPWrap .mainAPPWrap .APPText {
    font-size: 3.33333vw;
  }
  .choiceAPPWrap .mainAPPWrap .downloadWrap {
    width: 24.53333vw;
    height: 10vw;
    border-radius: 4.93333vw;
    border: solid 0.4vw #ffe300;
    right: 2.66667vw;
  }
  .choiceAPPWrap .mainAPPWrap .downloadWrap img {
    margin: 0 1.33333vw 0 3.33333vw;
    width: 2.4vw;
    height: 2.93333vw;
  }
  .choiceAPPWrap .mainAPPWrap .downloadWrap p {
    font-size: 3.33333vw;
  }
  .choiceAPPWrap .mainAPPWrap:nth-child(1) {
    margin-top: 2.13333vw;
  }
  .choiceAPPWrap .APPWrap {
    width: 28vw;
    height: 11.33333vw;
    border-radius: 1.33333vw;
    margin-right: 3.33333vw;
    margin-top: 4vw;
  }
  .choiceAPPWrap .APPWrap img {
    width: 11.33333vw;
    height: 11.33333vw;
    border-radius: 1.33333vw;
  }
  .choiceAPPWrap .APPWrap p {
    font-size: 3.46667vw;
    line-height: 3.73333vw;
    margin-left: 2.66667vw;
  }
  .hotUseWrap {
    padding-top: 6vw;
  }
  .hotUseWrap .smallTitle {
    margin-bottom: 4vw;
  }
  .hotUseWrap .smallTitle a {
    right: 6vw;
    width: 17.86667vw;
    height: 6.93333vw;
    border-radius: 0.66667vw;
    border: solid 0.4vw #ffe300;
    font-size: 3.33333vw;
    line-height: 6.93333vw;
  }
  .hotUseWrap .grayLine {
    width: 88vw;
    height: 0.13333vw;
    margin: 2.66667vw auto;
  }
  .hotUseWrap .APPWrap img {
    width: 16vw;
    height: 16vw;
    margin-left: 6vw;
    margin-right: 6vw;
    border-radius: 1.33333vw;
  }
  .hotUseWrap .APPWrap .APPTitle {
    font-size: 4.66667vw;
    margin-bottom: 1.46667vw;
  }
  .hotUseWrap .APPWrap .APPText {
    font-size: 3.33333vw;
  }
  .hotUseWrap .APPWrap .downloadBtn {
    width: 13.6vw;
    height: 8.66667vw;
    border-radius: 1.33333vw;
    font-size: 3.33333vw;
    right: 6vw;
  }
  .GtagWrap {
    margin-top: 6.66667vw;
    padding-top: 6vw;
  }
  .GtagWrap .APPGroupWrap {
    margin-left: 4.66667vw;
    margin-top: 4vw;
  }
  .GtagWrap .APPWrap {
    width: 28vw;
    height: 11.33333vw;
    border-radius: 0.66667vw;
    margin-right: 3.33333vw;
    margin-bottom: 2.66667vw;
  }
  .GtagWrap .APPWrap img {
    width: 7.33333vw;
    height: 7.33333vw;
    margin-left: 2.66667vw;
    margin-right: 2.66667vw;
    border-radius: 1.33333vw;
  }
  .GtagWrap .APPWrap p {
    font-size: 3.46667vw;
    line-height: 3.46667vw;
  }
  .bestSiteWrap .smallTitle {
    margin-top: 2vw;
    margin-bottom: 3.33333vw;
  }
  .bestSiteWrap .siteGroupWrap {
    margin-left: 4.66667vw;
  }
  .bestSiteWrap .siteWrap {
    width: 28vw;
    height: 9.33333vw;
    border-radius: 0.66667vw;
    border: solid 0.4vw #362f20;
    font-size: 3.73333vw;
    margin-right: 2.93333vw;
    margin-bottom: 4vw;
  }
  .backTopWrap {
    margin-top: 2vw;
    height: 20.53333vw;
  }
  .backTopWrap img {
    width: 12.8vw;
    height: 16.8vw;
  }
  .backTopWrap p {
    font-size: 3.33333vw;
  }
  .footerWrap .footerContain {
    width: 100vw;
    padding: 3.46667vw 5.86667vw 3.46667vw 4.4vw;
  }
  .footerWrap .footerContain img {
    width: 16vw;
    height: 14.53333vw;
    margin-right: 2.8vw;
  }
  .footerWrap .footerContain p {
    font-size: 2.66667vw;
  }
}
/*# sourceMappingURL=main.css.map */