////reset css ////
html,
body,
div,
span,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}
a {
  display: block;
  text-decoration:none;
}

//////////reset 結束 ////

.clearFloat{
  clear:both;
}
.popup{background:rgba(0,0,0,0.7);
  z-index:9999;margin:0 auto;
  text-align: center;
  left: 0;
  right: 0;
  width: 319px;
  position:fixed;
  top: 40%;
  line-height: 1.8;
  font-size: 25px;
  color:#fff;border-radius:10px;
  padding:25px 35px;
}

.fixWrap {
  position: fixed;
  top: 600px;
  right: 10px;
  z-index: 1;
  .timeBackground {
    width: 122px;
    height: 72px;
    background: url(../images/chat_box.png) no-repeat;
    text-align: center;
    background-size: contain;
    p {
      padding-top: 16px;
      font-size: 25px;
      font-weight: 600;
    }
  }
  .fixContain {
    display: flex;
    flex-direction:column;
  }
  .chickenClock {
    width: 124px;
    height: 78px;
  }
  .APPWrap {
    width: 114px;
    height: 138px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #f2cd48, #ff7566 99%);
    text-align: center;
    img {
      margin: 15px 0 7px;
      width: 84px;
      height: 84px;
      border-radius: 10px;
    }
    p {
      font-size: 20px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
}
body {
  width: 100%;
  background: url(../images/top-dotted-bg.png) no-repeat top center;
  background-color: #222222;
  background-size: contain;
}

.container {
  width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  p {
    color: #ffffff;
  }
}

.headerWrap {
  padding-top: 40px;

  .logoWrap {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .topLogo {
    width: 425px;
    height: 110px;
    text-align: center;
  }

  .topTag {
    width: 140px;
    height: 58px;
    position: absolute;
    right: 0;
  }

  .copyWrap {
    height: 53px;
    display: flex;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 14px;
    background: url(../images/copy_website.png) no-repeat center;
    background-size: contain;
    p {
      font-size: 16px;
      font-weight: 600;
      color: #ffe06e;
      margin-left: 20px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}

.bannerWrap {
  position: relative;
  text-align: center;
  margin-bottom: 30px;

  .bannerImg {
    width: 710px;
    height: 335px;
    border-radius: 30px;
  }
  .downloadBtn {
    width: 180px;
    height: 56px;
    position: absolute;
    right: 40px;
    bottom: -20px;
  }
}
.smallTitle {
  margin-left: 36px;
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 500;

  img {
    width: 55px;
    margin-right: 15px;
  }
  p {
    color: #fdd543;
  }
}
.hotSearchWrap {
  .hotAPPWrap {
    .hotTopAPPWrap {
      display: flex;
    }

    .top {
      width: 240px;
      height: 275px;
      position: relative;
    }

    .top1 {
      background: url(../images/top1_egg.png) no-repeat;
      background-size: contain;
    }

    .top2 {
      background: url(../images/top2_egg.png) no-repeat;
      background-size: contain;
    }

    .top3 {
      background: url(../images/top3_egg.png) no-repeat;
      background-size: contain;
    }

    .hotContain {
      width: 210px;
      height: 250px;
      padding-left: 29px;
      padding-top: 24px;
      text-align: center;

      img {
        width: 110px;
        height: 110px;
        margin-top: 35px;
        margin-bottom: 10px;
        border-radius: 10px;
      }

      .hotTitle {
        line-height: 44px;
        font-size: 30px;
        font-weight: 600;
      }

      .hotText {
        font-size: 20px;
        color: #bdbdbd;
      }
    }

    .hotAPPWrap {
      padding: 25px 0 0 35px;
      
      

      .APPWrap {
        float: left;
        width: 150px;
        height: 146px;
        border-radius: 20px;
        box-shadow: 3px 3px 3px 0 #000000;
        background-image: linear-gradient(164deg, #272727 12%, #484848 88%);
        text-align: center;
        margin-bottom: 25px;
        margin-right: 25px;
        img {
          width: 71px;
          margin: 18px 0 13px;
          border-radius: 10px;
        }
        p {
          font-size: 20px;
          font-weight: 600;
        }
      }
      .smallAPPWrap div:last-of-type {
        margin-bottom: 50px;
      }
    }

  }
}
.containBackground {
  background: url(../images/gray_bg2.png) no-repeat top center;
  background-size: contain;
}
.choiceAPPWrap {
  padding-top: 45px;
  padding-left: 35px;
  margin-top: 15px;
  margin-bottom: 50px;
  // .smallTitle {
  //   margin-left: 0;
  // }
  .mainAPPWrap {
    width: 680px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border: solid 4px #ffe300;
    display: flex;
    align-items: center;
    margin-top: 40px;
    position: relative;
    .APPImg {
      border-radius: 10px;
      margin: 0 30px 0 45px;
      width: 100px;
      height: 100px;
    }
    .APPTitle {
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 11px;
    }
    .APPText {
      font-size: 25px;
      font-weight: normal;
      color: #979797;
    }
    .downloadWrap {
      width: 184px;
      height: 75px;
      border-radius: 37.5px;
      border: solid 3px #ffe300;
      background-color: #000000;
      display: flex;
      align-items: center;
      position: absolute;
      right: 20px;
      img {
        margin: 0 10px 0 25px;
        width: 18px;
        height: 22px;
      }
      p {
        font-size: 25px;
        color: #fdd644;
      }
    }
  }
  .mainAPPWrap:nth-child(1) {
    margin-top: 16px;
  }
  // .smallAPPWrap {
  //   margin-left: 35px;
  // }
  .APPWrap {
    float: left;
    width: 210px;
    height: 85px;
    border-radius: 10px;
    background-color: #424242;
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-top: 30px;
    img {
      width: 85px;
      height: 85px;
      border-radius: 10px;
    }
    p {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      margin-left: 20px;
    }
  }
}
.hotUseWrap {
  padding-top: 45px;
  a{
    color: #000;
  }
  .smallTitle {
    position: relative;
    margin-bottom: 30px;
    a {
      position: absolute;
      right: 45px;
      width: 134px;
      height: 52px;
      border-radius: 5px;
      border: solid 3px #ffe300;
      background-color: #000000;
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      color: #ffe300;
      line-height: 52px;
    }
  }
  .grayLine {
    width: 660px;
    height: 1px;
    background-color: #979797;
    margin: 20px auto;
  }
  .APPWrap {
    display: flex;
    align-items: center;
    position: relative;
    img {
      width: 120px;
      height: 120px;
      margin-left: 45px;
      margin-right: 45px;
      border-radius: 10px;
    }
    .APPTitle {
      font-size: 35px;
      font-weight: 500;
      color: #fdd542;
      margin-bottom: 11px;
    }
    .APPText {
      font-size: 25px;
      color: #979797;
    }
    .downloadBtn {
      width: 102px;
      height: 65px;
      border-radius: 10px;
      background-color: #ffe300;
      font-size: 25px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 45px;
    }
  }
}
.GtagWrap {
  margin-top: 50px;
  padding-top: 45px;
  .APPGroupWrap {
    margin-left: 35px;
    margin-top: 30px;
  }
  .APPWrap {
    float: left;
    display: flex;
    align-items: center;
    position: relative;
    width: 210px;
    height: 85px;
    border-radius: 5px;
    background-color: #6f6f6f;
    margin-right: 25px;
    margin-bottom: 20px;
    img {
      width: 55px;
      height: 55px;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 10px;
    }
    p {
      font-size: 19px;
      font-weight: 600;
      line-height: 26px;
    }
  }
}
.bestSiteWrap {
  .smallTitle {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .siteGroupWrap {
    margin-left: 35px;
  }
  .siteWrap {
    float: left;
    width: 210px;
    height: 70px;
    border-radius: 5px;
    border: solid 3px #362f20;
    background-color: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    margin-right: 22px;
    margin-bottom: 30px;
    p{
      color: #fdd542;
    }
  }
  .siteWrap:nth-child(3n) {
    margin-right: 0;
  }
}
.backTopWrap {
  margin-top: 15px;
  height: 154px;
  text-align: center;
  background: url(../images/dot_bg1.png) repeat-x ;
  padding-bottom: 13px;
  background-size: cover;
  img {
    width: 96px;
    height: 126px;
  }
  p {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
  }
}
.footerWrap {
  background-color: #000000;
  
  .footerContain {
    margin: 0 auto;
    width: 750px;
    display: flex;
    padding: 26px 44px 26px 33px;
    box-sizing:border-box;
    img {
      width: 120px;
      height: 109px;
      margin-right: 21px;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.75;
      color: #bdbebe;
    }
  }
  
}
/////////////RWD////////////////////
@function vw($px) {
  @return ($px / 750) * 100vw;
}
// width: vw(750);

@media (max-width:768px){
  body {
    width: 100%;
    background: url(../images/375bg.png) no-repeat top center;
    background-color: #222222;
    background-size: contain;
  }
  .popup{background:rgba(0,0,0,0.7);
    width: vw(319);
    font-size: vw(25);
    color:#fff;border-radius:vw(10);
    padding:vw(25) vw(35);
  }
  .fixWrap {
    top: vw(600);
    right: vw(10);
    .timeBackground {
      width: vw(122);
      height: vw(72);
      p {
        padding-top: vw(16);
        font-size: vw(25);
      }
    }
    .chickenClock {
      width: vw(124);
      height: vw(78);
    }
    .APPWrap {
      width: vw(144);
      height: vw(138);
      border-radius: vw(5);
      img {
        margin: vw(15) 0 vw(7);
        width: vw(84);
        height: vw(84);
        border-radius: vw(10);
      }
      p {
        font-size: vw(24);
        margin-bottom: vw(10);
      }
    }
  }
  .container {
    width: vw(750);
  }
  .headerWrap {
    padding-top: vw(40);
    .topLogo {
      width: vw(424);
      height: vw(110);
    }
  
    .topTag {
      width: vw(140);
      height: vw(58);
    }
    .copyWrap {
      height: vw(53);
      margin-top: vw(28);
      margin-bottom: vw(14);
      p {
        font-size: vw(16);
        margin-left: vw(20);
        margin-top: vw(10);
      }
    }
  }
  .bannerWrap {
    margin-bottom: vw(30);
    .bannerImg {
      width: vw(710);
      height:  vw(335);
      border-radius: vw(30);
    }
    .downloadBtn {
      width: vw(180);
      height: vw(56);
      right: vw(40);
      bottom: vw(-20);
    }
  }
  .smallTitle {
    margin-left: vw(36);
    font-size: vw(35);
    img {
      width: vw(55);
      margin-right: vw(15);
    }
  }
  .hotSearchWrap {
    .hotAPPWrap {
      .top {
        width: vw(240);
        height: vw(275);
      }
      .hotContain {
        width: vw(210);
        height: vw(250);
        padding-left: vw(29);
        padding-top: vw(24);
        img {
          width: vw(110);
          height: vw(110);
          margin-top: vw(35);
          margin-bottom: vw(10);
          border-radius: vw(10);
        }
        .hotTitle {
          line-height: vw(44);
          font-size: vw(30);
        }
        .hotText {
          font-size: vw(20);
        }
      }
      .hotAPPWrap {
        padding: vw(25) 0 0 vw(35);
  
        .APPWrap {
          width: vw(150);
          height: vw(146);
          border-radius: vw(20);
          box-shadow: vw(3) vw(3) vw(3) 0 #000000;
          margin-bottom: vw(25);
          margin-right: vw(25);
          img {
            width: vw(71);
            margin: vw(18) 0 vw(13);
            border-radius: vw(10);
          }
          p {
            font-size: vw(26);
          }
        }
        .smallAPPWrap div:last-of-type {
          margin-bottom: vw(50);
        }
      }
  
    }
  }
  .choiceAPPWrap {
    padding-top: vw(45);
    padding-left: vw(35);
    margin-top: vw(15);
    margin-bottom: vw(50);
    .mainAPPWrap {
      width: vw(680);
      height: vw(180);
      border-radius: vw(15);
      box-shadow: 0 vw(2) vw(5) 0 rgba(0, 0, 0, 0.1);
      border: solid vw(4) #ffe300;
      margin-top: vw(40);
      .APPImg {
        border-radius: vw(10);
        margin: 0 vw(30) 0 vw(45);
        width: vw(100);
        height: vw(100);
      }
      .APPTitle {
        font-size: vw(35);
        margin-bottom: vw(11);
      }
      .APPText {
        font-size: vw(25);
      }
      .downloadWrap {
        width: vw(184);
        height: vw(75);
        border-radius: vw(37);
        border: solid vw(3) #ffe300;
        right: vw(20);
        img {
          margin: 0 vw(10) 0 vw(25);
          width: vw(18);
          height: vw(22);
        }
        p {
          font-size: vw(25);
        }
      }
    }
    .mainAPPWrap:nth-child(1) {
      margin-top: vw(16);
    }
    .APPWrap {
      width: vw(210);
      height: vw(85);
      border-radius: vw(10);
      margin-right: vw(25);
      margin-top: vw(30);
      img {
        width: vw(85);
        height: vw(85);
        border-radius: vw(10);
      }
      p {
        font-size: vw(26);
        line-height: vw(28);
        margin-left: vw(20);
      }
    }
  }
  .hotUseWrap {
    padding-top: vw(45);
    .smallTitle {
      margin-bottom: vw(30);
      a {
        right: vw(45);
        width: vw(134);
        height: vw(52);
        border-radius: vw(5);
        border: solid vw(3) #ffe300;
        font-size: vw(25);
        line-height: vw(52);
      }
    }
    .grayLine {
      width: vw(660);
      height: vw(1);
      margin: vw(20) auto;
    }
    .APPWrap {
      img {
        width: vw(120);
        height: vw(120);
        margin-left: vw(45);
        margin-right: vw(45);
        border-radius: vw(10);
      }
      .APPTitle {
        font-size: vw(35);
        margin-bottom: vw(11);
      }
      .APPText {
        font-size: vw(25);
      }
      .downloadBtn {
        width: vw(102);
        height: vw(65);
        border-radius: vw(10);
        font-size: vw(25);
        right: vw(45);
      }
    }
  }
  .GtagWrap {
    margin-top: vw(50);
    padding-top: vw(45);
    .APPGroupWrap {
      margin-left: vw(35);
      margin-top: vw(30);
    }
    .APPWrap {
      width: vw(210);
      height: vw(85);
      border-radius: vw(5);
      margin-right: vw(25);
      margin-bottom: vw(20);
      img {
        width: vw(55);
        height: vw(55);
        margin-left: vw(20);
        margin-right: vw(20);
        border-radius: vw(10);
      }
      p {
        font-size: vw(26);
        line-height: vw(26);
      }
    }
  }
  .bestSiteWrap {
    .smallTitle {
      margin-top: vw(15);
      margin-bottom: vw(25);
    }
    .siteGroupWrap {
      margin-left: vw(35);
    }
    .siteWrap {
      width: vw(210);
      height: vw(70);
      border-radius: vw(5);
      border: solid vw(3) #362f20;
      font-size: vw(28);
      margin-right: vw(22);
      margin-bottom: vw(30);
    }
  }
  .backTopWrap {
    margin-top: vw(15);
    height: vw(154);
    img {
      width: vw(96);
      height: vw(126);
    }
    p {
      font-size: vw(25);
    }
  }
  .footerWrap {
    .footerContain {
      width: vw(750);
      padding: vw(26) vw(44) vw(26) vw(33);
      img {
        width: vw(120);
        height: vw(109);
        margin-right: vw(21);
      }
      p {
        font-size: vw(20);
      }
    }
  }
}